* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-color: aliceblue;
  font-family: Helvetica;
  padding: 1em;
}

@header-text-color: #0000A0;

h1 {
  font-size: 1.5em;
}

#header {
  margin-top: 0px;
  color: @header-text-color;
}

#tool-icons {
  float: right;

}

#tool-icons button {
  padding: 2px;
  margin: 0 2px;
  border-radius: 5px;
  outline: none;
  color: @header-text-color;
  border-color: @header-text-color;
}

#map {
  text-align: center;
  width: 60%;
  height: 400px;
}

.weather-chart {
  width: 100%;
  height: 150px;
}

@import (inline) "node_modules/leaflet/dist/leaflet.css";
